@charset "UTF-8";


h3 {
	color: red;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #93b0ad;
	height: 100%;
	width: auto;
	border: solid 10px #b3b3b3;
	border-top: solid 10px #e0e0e0;
	border-bottom: solid 10px #717171;
}

body {
	background-color: #E3FFFF;
	text-align: center
}

.button {
	display: inline-block;
	border-radius: 5%;
	font-size: 13pt;
	text-align: center;
	cursor: pointer;
	padding: 12px 12px;
	background: #000066;
	color: #ffffff;
	line-height: 1em transition: .3s;
	box-shadow: 6px 6px 3px #666666;
	border: 2px solid #000066;
	margin-bottom: 8px;
}

.button:hover {
	box-shadow: none;
	color: #000066;
	background: #ffffff;
}

.progress {
	display: inline-block;
	font-weight: bold;
	font-size: 150%;
	border-bottom: 2px solid #0059b3;
	color: #ff0000;
	margin-bottom: 8px;
}

.userlist {
	width: 80%;
  	margin: 0 auto;
  	max-width: 500px;
  	position: relative;
	box-sizing: border-box;
	margin: 14px auto 0 auto;
	max-width: 500px;
	background: #fff;
	padding: 33px 10px 25px 10px;
	border: 3px solid #0059b3;
}

.question {
	position: relative;
	box-sizing: border-box;
	margin: 14px auto 0 auto;
	max-width: 500px;
	background: #fff;
	padding: 33px 10px 25px 10px;
	border: 3px solid #0059b3;
}

.question::before {
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	line-height: 1;
	background: #0059b3;
	color: #ffffff;
	content: attr(title);
	font-weight: bold;
	padding: 8px 15px;
	top: -17px;
	left: 16px;
	border-radius: 16px;
	font-size: 16px;
}

.choice {
	position: relative;
	box-sizing: border-box;
	margin: 14px auto 0 auto;
	max-width: 500px;
	background: #fff;
	padding: 33px 10px 25px 10px;
	border: 3px solid #0059b3;
}

.confirm-question {
	position: relative;
	box-sizing: border-box;
	margin: 14px auto 0 auto;
	max-width: 500px;
	background: #fff;
	padding: 33px 10px 5px 10px;
	border: 3px solid #0059b3;
}

.confirm-question::before {
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	line-height: 1;
	background: #0059b3;
	color: #ffffff;
	content: attr(title);
	font-weight: bold;
	padding: 8px 15px;
	top: -17px;
	left: 16px;
	border-radius: 16px;
	font-size: 16px;
}

.selected-answer {
	position: relative;
	box-sizing: border-box;
	margin: 14px auto 0 auto;
	max-width: 500px;
	background: #fff;
	padding: 33px 3px 5px 10px;
	border: 3px solid #0059b3;
}

.selected-answer::before {
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	line-height: 1;
	background: #0059b3;
	color: #ffffff;
	content: attr(title);
	font-weight: bold;
	padding: 8px 15px;
	top: -17px;
	left: 16px;
	border-radius: 16px;
	font-size: 16px;
}

.result-question {
	position: relative;
	box-sizing: border-box;
	margin: 14px auto 0 auto;
	max-width: 500px;
	background: #fff;
	padding: 33px 3px 5px 10px;
	border: 3px solid #0059b3;
}

.result-question::before {
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	line-height: 1;
	background: #0059b3;
	color: #ffffff;
	content: attr(title);
	font-weight: bold;
	padding: 8px 15px;
	top: -17px;
	left: 16px;
	border-radius: 16px;
	font-size: 16px;
}

.correct {
	font-size: 40pt;
	color: red;
}

.not-correct {
	font-size: 40pt;
	color: blue;
}

.explanation {
	position: relative;
	box-sizing: border-box;
	margin: 14px auto 40px auto;
	max-width: 500px;
	background: #fff;
	padding: 33px 3px 5px 10px;
	border: 3px solid #ff0000;
}

.explanation::before {
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	line-height: 1;
	background: #ff0000;
	color: #ffffff;
	content: attr(title);
	font-weight: bold;
	padding: 8px 15px;
	top: -17px;
	left: 16px;
	border-radius: 16px;
	font-size: 16px;
}

.pass {
	display: inline-block;
	font-weight: bold;
	font-size: 150%;
	border-bottom: 2px solid #0059b3;
	color: #ff0000;
	margin-bottom: 8px;
}

.notpass {
	display: inline-block;
	font-weight: bold;
	font-size: 150%;
	border-bottom: 2px solid #0059b3;
	color: #0000ff;
	margin-bottom: 8px;
}

.message {
	display: inline-block;
	font-weight: bold;
	font-size: 150%;
	color: #ffffff;
	background: #1a1aff;
	padding: 4px;
	margin: 0 2px;
	margin-bottom: 8px;
}

.copyright {
	color: #505050;
	padding: 0.5em;
	display: inline-block;
	line-height: 1.3;
	background: #dbebf8;
	vertical-align: middle;
	border-radius: 25px 0px 0px 25px;
	font-weight: 900;
}